<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ClientId</key>
    <string>Hl8z8nq2wbjwISPV1LMn20xQ5sSV86SX</string>
    <key>Domain</key>
    <string>auth.auerbachsoftware.com</string>
</dict>
</plist>
